<footer>
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <hr class="light">
        <h5>SAGE Scholars Inc.</h5>
      <hr class="light">
        <p>215-564-9930</p>
        <p>1650 Arch St Suite 1903</p>
        <p>Philadelphia, PA 19103</p>
    </div>
      <div class="col-md-4">
        <hr class="light">
          <h5>SAGE Products</h5>
        <hr class="light">
          <p>ReadySETCollege</p>
          <p>TuitionRewards</p>
          <p>Text</p>
        </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Support</h5>
        <hr class="light">
        <p>text</p>
        <p>text</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; SAGE Scholars Inc.</h5>
      </div>
  </div>
</div>
</footer>
