<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="counter-container">
  <div class="row text-center">
	    <div class="col">
	      <div class="counter">
          <i class="fas fa-graduation-cap"></i>
          <h2 class="timer count-title count-number" data-to="387" data-speed="1500"></h2>
          <p class="count-text ">Sage Schools</p>
        </div>
	    </div>

      <div class="col">
        <div class="counter">
          <i class="fa fa-code fa-2x"></i>
          <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
          <p class="count-text ">text</p>
        </div>
      </div>
    </div>
</div>
