/* header image */
.my-header img{
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  top: 0;
}

/* nav bar */
.my-navbar {
  background: rgba(0,0,0,0.7) !important;
}

.my-navbar img{
  height: 60px;
}

.nav-link {
  color: white !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* transparent bar */
.container.transparent {
  background: rgba(0,0,0,0.7) !important;
  max-width: 100% !important;
}

/* green tinted section */
.container.transparent.green img{
  background: rgba(0,255,255,0.5) !important;
  width: 100% !important;
  opacity: 0.5;
}
.container.transparent.green {
  background-color: #8CC63F !important;
}
