<div class="maingrid">

<div class="maingrid_navigation">
  <app-header></app-header>
</div>
  <div class="maingrid_routeroutlet">
    <router-outlet></router-outlet>
  </div>
<div class="maingrid_footer">
  <app-footer></app-footer>
</div>
</div>

<!-- <router-outlet></router-outlet> -->
<!-- <div class="container transparent">
  <div class="row">
    <div class="col-md-4">
    <ul routerLinkActive="active"><a routerLink="/articles" class="btn btn-section"(click)="toggleState()" style="width: 200px; height: 100px; color: white;"
      [@divState]= "state">Member College News</a></ul>
    </div>
    <div class="col-md-4">
      <ul routerLinkActive="active"><a routerLink="/sageTips" class="btn btn-section"(beforclick)="toggleState()" style="width: 200px; height: 100px; color: white;"
      [@divState]= "state">SAGE Tips</a></ul>
    </div>
    <div class="col-md-4">
      <ul routerLinkActive="active"><a routerLink="/educationReports" class="btn btn-section"(click)="toggleState()" style="width: 200px; height: 100px; color: white;"
      [@divState]= "state">Education News</a></ul>
    </div>
  </div>
</div> -->
